body{

        margin: 0;
        padding: 0;
        background-color: rgb(237, 232, 228);
        font-family: "Lato", sans-serif;
        color: black;
      
}


nav {
    
    background-color: coral;
    padding: 1px;
    color:olive;
}

nav h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

nav ul {
    padding: 0px 0px 0px 0px;
	margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

nav ul li {
    animation: 1s ease-out 0s 1 slideinfromRight;
      list-style: none;
      padding: 5px;
      border-radius: 25px;
      border: solid 1px rgb(46, 97, 139);
      margin-right: 5px;
      margin-bottom: 2px;
  }

  header{

    font-size: 20px;
    text-align: center;
    text-shadow: 2px 1px #333;
    color: red;

  }

.containerindex {

text-align: justify;
background-image: url(/fotos/pexels-photo-2526878.jpeg);
background-size: cover;
background-position: center;

}
  
#about{
    font-size: 20px;
  text-align: center;
  text-shadow: 2px 1px #333;
  color: red;
}